body{
    background:#F8FAFC;
}

.custom-navbar{
    background:#0F766E;
}

.hero-section{
    padding:120px 0;
    background:linear-gradient(
        135deg,
        #0F766E,
        #14B8A6
    );

    color:white;
}

.hero-section h1{
    font-size:3.5rem;
    font-weight:bold;
}

.hero-section p{
    margin:20px 0;
    font-size:1.2rem;
}
.service-card{
    background: white;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    height: 220px;      /* Same height for all cards */
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 0.3s;
}


.service-card:hover{
    transform: translateY(-8px);
}
.services-section{
    margin-top: 80px;
}
.feature-card{
    background:#ffffff;
    padding:30px 20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;
    height:100%;
}

.feature-card:hover{
    transform:translateY(-8px);
}

.icon{
    font-size:50px;
    margin-bottom:20px;
}
.step-card{
    background:#ffffff;
    border-radius:15px;
    padding:30px 20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;
    height:100%;
}

.step-card:hover{
    transform:translateY(-8px);
}

.step-number{
    width:60px;
    height:60px;
    margin:0 auto 20px;
    border-radius:50%;
    background:#0F766E;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    font-weight:bold;
}