body{
    background:#F8FAFC;
}

.custom-navbar{
    background:#0F766E;
}

.hero-section{
    padding:120px 0;
    background:linear-gradient(
        135deg,
        #0F766E,
        #14B8A6
    );

    color:white;
}

.hero-section h1{
    font-size:3.5rem;
    font-weight:bold;
}

.hero-section p{
    margin:20px 0;
    font-size:1.2rem;
}